@using FutureFridges.Business.Enums;
@using FutureFridges.Business.UserManagement;
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;

@inject SignInManager<FridgeUser> SignInManager
@inject UserPermissionController UserPermissionController
@inject UserController UserController
@inject IHttpContextAccessor Accessor
@using System.Text.RegularExpressions
@{
    String? path = Accessor.HttpContext.Request.Path.Value;
    var homeRegex = new Regex(@"^\/$");
    var stockRegex = new Regex(@"^\/StockManagement(.+)$");
    var productsRegex = new Regex(@"^\/ProductManagement(.+)$");
    var usersRegex = new Regex(@"^\/UserManagement(.+)$");
    var suppliersRegex = new Regex(@"^\/SupplierManagement(.+)$");
    var ordersRegex = new Regex(@"^\/OrderManagement(.+)$");
    var reportRegex = new Regex(@"^\/HealthReport(.+)$");
    var auditRegex = new Regex(@"^\/AuditLog(.+)$");
    var settingsRegex = new Regex(@"^\/Admin(.+)$");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/bootstrap.custom.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FutureFridges.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light bg-primary bg-opacity-10 border-bottom box-shadow  mb-3">
            <div class="container-fluid px-5">
                <img class="" src="~/Images/FutureFridgesLogo.png" width="230" />
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-lg-inline-flex justify-content-between text-lg-center">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        string _CurrentUserID = User.FindFirstValue(ClaimTypes.NameIdentifier);
                        UserPermissions _CurrentUserPermissions = UserPermissionController.GetPermissions(new Guid(_CurrentUserID));
                        FridgeUser _CurrentUser = UserController.GetUser(_CurrentUserID);

                        <ul class="navbar-nav flex-grow-1 justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link @(homeRegex.IsMatch(path) ? "fw-bolder": "") text-dark mx-lg-2" asp-area="" asp-page="/Index">
                                    <i class="bi bi-house d-none d-lg-block text-center @(homeRegex.IsMatch(path) ? "": "text-secondary")" style="font-size: @(homeRegex.IsMatch(path) ? "2.1rem": "2rem");"></i>
                                    Home
                                </a>
                            </li>
                            @if(_CurrentUserPermissions.ViewStock)
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(stockRegex.IsMatch(path) ? "fw-bolder": "") text-dark mx-lg-2" asp-area="" asp-page="/StockManagement/StockManagement">
                                        <i class="bi bi-egg-fried d-none d-lg-block text-center @(stockRegex.IsMatch(path) ? "": "text-secondary")" style="font-size: @(stockRegex.IsMatch(path) ? "2.1rem": "2rem");"></i>
                                        Stock
                                    </a>
                                </li>
                            }

                            @if(_CurrentUserPermissions.ManageProduct)
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(productsRegex.IsMatch(path) ? "fw-bolder": "") text-dark mx-lg-2" asp-area="" asp-page="/ProductManagement/ProductManagement">
                                        <i class="bi bi-basket d-none d-lg-block text-center @(productsRegex.IsMatch(path) ? "": "text-secondary")" style="font-size: @(productsRegex.IsMatch(path) ? "2.1rem": "2rem");"></i>
                                        <div>Products</div>
                                    </a>
                                </li>
                            }

                            @if(_CurrentUserPermissions.ManageUser)
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(usersRegex.IsMatch(path) ? "fw-bolder": "") text-dark mx-lg-2" asp-area="" asp-page="/UserManagement/UserManagement">
                                        <i class="bi bi-person-rolodex d-none d-lg-block text-center @(usersRegex.IsMatch(path) ? "": "text-secondary")" style="font-size: @(usersRegex.IsMatch(path) ? "2.1rem": "2rem");"></i>
                                        <div>Users</div>
                                    </a>
                                </li>
                            }

                            @if(_CurrentUserPermissions.ManageSuppliers)
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(suppliersRegex.IsMatch(path) ? "fw-bolder": "") text-dark mx-lg-2" asp-area="" asp-page="/SupplierManagement/SupplierManagement">
                                        <i class="bi bi-box2 d-none d-lg-block text-center @(suppliersRegex.IsMatch(path) ? "": "text-secondary")" style="font-size: @(suppliersRegex.IsMatch(path) ? "2.1rem": "2rem");"></i>
                                        <div>Suppliers</div>
                                    </a>
                                </li>
                            }

                            @if(_CurrentUserPermissions.ManageOrders)
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(ordersRegex.IsMatch(path) ? "fw-bolder": "") text-dark mx-lg-2" asp-area="" asp-page="/OrderManagement/OrderManagement">
                                        <i class="bi bi-clipboard-plus d-none d-lg-block text-center @(ordersRegex.IsMatch(path) ? "": "text-secondary")" style="font-size: @(ordersRegex.IsMatch(path) ? "2.1rem": "2rem");"></i>
                                        <div>Orders</div>
                                    </a>
                                </li>
                            }

                            @if(_CurrentUserPermissions.ManageHealthAndSafetyReport)
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(reportRegex.IsMatch(path) ? "fw-bolder": "") text-dark mx-lg-2" asp-area="" asp-page="/HealthReport/HealthReport">
                                        <i class="bi bi-hospital d-none d-lg-block text-center @(reportRegex.IsMatch(path) ? "": "text-secondary")" style="font-size: @(reportRegex.IsMatch(path) ? "2.1rem": "2rem");"></i>
                                        <div>Report</div>
                                    </a>
                                </li>
                            }

                            @if(_CurrentUserPermissions.ViewAuditLog)
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(auditRegex.IsMatch(path) ? "fw-bolder": "") text-dark mx-lg-2" asp-area="" asp-page="/AuditLog/AuditLog">
                                        <i class="bi bi-journals d-none d-lg-block text-center @(auditRegex.IsMatch(path) ? "": "text-secondary")" style="font-size: @(auditRegex.IsMatch(path) ? "2.1rem": "2rem");"></i>
                                        <div>Audit Log</div>
                                    </a>
                                </li>
                            }

                            @if(_CurrentUser.UserType == UserType.Administrator)
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(settingsRegex.IsMatch(path) ? "fw-bolder": "") text-dark mx-lg-2" asp-area="" asp-page="/Admin/Settings">
                                        <i class="bi bi-gear d-none d-lg-block text-center @(settingsRegex.IsMatch(path) ? "": "text-secondary")" style="font-size: @(settingsRegex.IsMatch(path) ? "2.1rem": "2rem");"></i>
                                        <div>Settings</div>
                                    </a>
                                </li>
                            }
                        </ul>

                        <ul class="navbar-nav flex-grow-2 ml-auto" width=" 300">
                            <partial name="_LoginPartial" />
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="ms-2">
            @{
                DateTime _Now = DateTime.Now;
                string _CurrentYear = _Now.Year.ToString();
            }
            &copy; @_CurrentYear - FutureFridges
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>