@page
@model FutureFridges.Pages.StockManagement.AddStockItemModel
@{
    ViewData["Title"] = "Add Stock";
}

<style>
    input[type="submit"] {
        display: none;
    }

    .custom-file-update {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        background-color: darkorange;
    }
</style>

<div class="container-sm col-sm-8 bg-light rounded-3 border p-5 shadow-lg">
    <a asp-page="StockManagement" class="btn btn-secondary">&laquo; back</a>
    <h2 class="display-5">Insert Item</h2>
    <hr>
    <form method="post" enctype="multipart/form-data" novalidate class="m-auto">
        <div>
            <label asp-for="@Model.StockItem.Product_UID">Product</label>
            <div class="col-sm-12">
                <select class="form-select" asp-for="@Model.StockItem.Product_UID" asp-items="@Model.ProductSelection">Select Product</select>
            </div>
            <span class="text-danger" asp-validation-for="@Model.StockItem.Product_UID"></span>
        </div>
        <div>
            <label asp-for="@Model.StockItem.ExpiryDate">Expiry Date</label>
            <div class="col-sm-12">
                <input class="form-control" asp-for="@Model.StockItem.ExpiryDate" asp-format="{0:yyyy/MM/dd}" />
            </div>
            <span class="text-danger" asp-validation-for="@Model.StockItem.ExpiryDate"></span>
        </div>
        <div class="text-center">
            <label for="add-product" class="custom-file-update">
                <i class="fa fa-cloud-upload"></i> Add Item</label>
            <input id="add-product" type="submit" value="Add Item">
        </div>
    </form>
</div>