@page
@using FutureFridges.Business.StockManagement;
@model FutureFridges.Pages.StockManagement.StockManagementModel
@{
    ViewData["Title"] = "Stock";
}

<h2>Manage Stock</h2>
<table class="text-center">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Product Category
            </th>
            <th>
                Quantity
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Product product in Model.Products)
        {
            int _Quantity = Model.StockItems.Where(stockItem => stockItem.Product_UID == product.Product_UID).Count();

            @if (_Quantity > 0) {
                <form id="selectProduct" asp-page-handler="selectProduct" asp-route-uid="@product.Product_UID" method="post">
                <tr onclick="document.getElementById('selectProduct').submit();">
                    <td>@product.Name</td>
                    <td>@product.Category</td>
                    <td>@_Quantity</td>
                    <input type="hidden" name="productUID" value="@product.Product_UID" />
                </tr>
                </form>
            }
        }
    </tbody>
</table>

@if (Model.SelectedProduct != new Product())
{
    <hr>
    <h2>Selected Product Line</h2>
    <table class="text-center">
        <thead>
            <tr>
                <th>
                    Stock Item ID
                </th>
                <th>
                    Product
                </th>
                <th>
                    Expiry Date
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (StockItem stockItem in Model.StockItems.Where(stockItem => stockItem.Product_UID == Model.SelectedProduct.Product_UID))
            {
                <tr>
                    <td>@stockItem.Id</td>
                    <td>@Model.SelectedProduct.Name</td>
                    <td>@stockItem.ExpiryDate</td>
                </tr>
            }
        </tbody>
    </table>
}