@page
@using FutureFridges.Business.StockManagement;
@model FutureFridges.Pages.StockManagement.StockManagementModel
@{
    ViewData["Title"] = "Stock";
}

<div class="container">
    <div class="row">
        <div class="@(Model.SelectedProduct.UID != Guid.Empty ? "col-sm-6" : "col-sm-12") ">
            <h2 class="display-5">Manage Stock</h2>
            <hr>
            <table class="text-center table table-bordered" style="width: 100%;">
                <thead>
                    <tr>
                        <th>
                            Product Name
                        </th>
                        <th>
                            Product Category
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            view
                        </th>
                       
                    </tr>
                </thead>
                <tbody>
                    @foreach (Product product in Model.Products)
                    {
                        int _Quantity = Model.StockItems.Where(stockItem => stockItem.Product_UID == product.UID).Count();

                        @if (_Quantity > 0)
                        {
                            <form id="@product.Id" asp-page-handler="selectProduct" asp-route-uid="@product.UID" method="post">
                            <tr >
                                <td>@product.Name</td>
                                <td>@product.Category</td>
                                <td>@_Quantity</td>
                                <td>
                                    <button type="button" onclick="document.getElementById('@product.Id').submit();" class="btn btn-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                        </svg>
                                    </button>
                                </td>
                                <input type="hidden" name="productUID" value="@product.UID" />
                            </tr>
                            </form>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            @if (Model.SelectedProduct.UID != Guid.Empty)
            {
                <h2 class="display-5">@Model.SelectedProduct.Name</h2>
                <hr>
                @*ALL THIS INLINE CSS NEEDS PUTTING IN IT'S OWN FILE*@
                <div class="col-lg-9 m-auto rounded-3 img-thumbnail">
                    <img src="@($"{Model.ProductImagePath}{Model.SelectedProduct.ImageName}")" style="width:300px; height: auto; display: block; margin-left: auto; margin-right: auto;">
                </div>
                <br>
                <table class="text-center table table-bordered" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>
                                Stock Item ID
                            </th>
                            <th>
                                Product
                            </th>
                            <th>
                                Expiry Date
                            </th>
                            <th>
                                Take
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (StockItem stockItem in Model.StockItems.Where(stockItem => stockItem.Product_UID == Model.SelectedProduct.UID))
                        {
                            <tr>
                                <td>@stockItem.Id</td>
                                <td>@Model.SelectedProduct.Name</td>
                                <td>@stockItem.ExpiryDate</td>
                                @if (Model.CurrentUserPermissions.RemoveStock)
                                {
                                    <td><a class="btn btn-danger" role="button" asp-page-handler="takeProduct" asp-route-uid="@stockItem.Item_UID">Take Item</a></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>





