@page
@model FutureFridges.Pages.Account.LoginModel
@{
}

<form method="post" novalidate class="">
    <div class="text-center">
        <img class="img-thumbnail w-25" src="/Images/CatLogo.png" alt="cat logo">
    </div>
    <div class="row">
        <div class="form-group col-lg-4 m-auto">
            <label asp-for="@Model.Username"></label>
            <div class="">
                <input class="form-control" asp-for="@Model.Username">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-4 m-auto">
            <label asp-for="@Model.Password"></label>
            <div class="">
                <input class="form-control" asp-for="@Model.Password">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-4 m-auto">
            <label asp-for="@Model.RememberMe"></label>
            <div class="">
                <input type="checkbox" class="form-check-input" asp-for="@Model.RememberMe">
            </div>
        </div>
    </div>
    <div class="row">
        @Html.ValidationSummary()
        <div class="form-group col-lg-4 m-auto">
            <input type="submit" value="Login">
        </div>
        
    </div>
    
</form>