@page
@model FutureFridges.Pages.Account.LoginModel
@{
}

<form method="post" novalidate>
    <div>
        <label asp-for="@Model.Username"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="@Model.Username">
        </div>
    </div>
    <div>
        <label asp-for="@Model.Password"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="@Model.Password">
        </div>
    </div>
    <div>
        <label asp-for="@Model.RememberMe"></label>
        <div class="col-sm-10">
            <input type="checkbox" class="form-check-input" asp-for="@Model.RememberMe">
        </div>
    </div>
    @Html.ValidationSummary()
    <input type="submit" value="Login">
</form>