@page
@model FutureFridges.Pages.Account.LoginModel
@{
}
<form method="post" novalidate class="">
    <div class="row">
        <div class="form-group col-lg-4 m-auto form-floating">
            <input class="form-control" asp-for="@Model.Username">
            <label class="ps-4" asp-for="@Model.Username"></label>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-4 m-auto form-floating">
            <input class="form-control" asp-for="@Model.Password">
            <label class="ps-4" asp-for="@Model.Password"></label>
        </div>
    </div>
    <div class="row checkbox mb-3">
        <div class="form-group col-lg-4 m-auto">
            <input type="checkbox" class="form-check-input" asp-for="@Model.RememberMe"> Remember me
        </div>
    </div>
    <div class="row">
        
        <div class="form-group col-lg-4 m-auto">
            @Html.ValidationSummary()
            <input class="w-100 btn btn-lg btn-primary" type="submit" value="Login">
        </div>
        
    </div>
    
</form>