@page
@model FutureFridges.Pages.Admin.SettingsModel
@{
    ViewData["Title"] = "Settings";
}

<div class="container-sm col-sm-8 bg-light rounded-3 border p-5 shadow-lg">
    <div class="display-6 text-center">Site Settings</div>
    <form method="post" novalidate class="m-auto">
        <div>
            <label asp-for="@Model.Settings.Administrator_UID">Notifiable Head Chef/Administrator</label>
            <div class="col-sm-12">
                <select class="form-select" asp-for="@Model.Settings.Administrator_UID" asp-items="@Model.AdminSelection">Site Administrator</select>
            </div>
            <label asp-for="@Model.Settings.NotifyAllHeadChefs">Notify All Head Chefs & Admins</label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-check-input" asp-for="@Model.Settings.NotifyAllHeadChefs">
            </div>
        </div>
        <div class="text-center">
            <input type="hidden" asp-for="@Model.Settings.UID" />

            <input class="btn btn-lg btn-primary mt-3" type="submit" value="Update Settings">
        </div>
    </form>
</div>