@page
@using FutureFridges.Business.OrderManagement
@model FutureFridges.Pages.SupplierManagement.SupplierManagementModel
@{
    ViewData["Title"] = "Supplier Management";
}

<div class="container-sm m-auto bg-light rounded-3 border p-5 shadow-lg">
    <h1 class="text-center display-4">Supplier Management</h1>
    <hr>
    <div class="row justify-content-center">
        @if (Model.Suppliers.Count < 1)
        {
            <h2 class="text-center display-6">No suppliers setup</h2>
        }
        else {
            <table class="mb-3">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Number of Products
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Supplier supplier in Model.Suppliers)
                    {
                        <tr>
                            <td>@supplier.Name</td>
                            <td>@supplier.Email</td>
                            <td>@Model.GetSupplierProductCount(supplier.UID)</td>
                            <td>
                                <a class="btn btn-secondary" role="button" asp-page="CreateEditSupplier" asp-route-UID="@supplier.UID">
                                    <i class="bi bi-pencil"></i>
                                </a>
                            </td>
                            <td>
                                @if (Model.IsSupplierInUse(supplier.UID))
                                {
                                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="This supplier is in use, and can't be deleted!">
                                        <button class="btn btn-danger" role="button" disabled>Delete</button>
                                    </span>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="@("#deleteModal"+supplier.UID)">Delete</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        <hr>
        <div class="col-md-10 text-center">
            <a class="btn btn-lg btn-primary" role="button" asp-page="CreateEditSupplier">Create Supplier</a>
        </div>

    </div>
</div>

@foreach (Supplier supplier in @Model.Suppliers)
{
    @*Bootstrap Modal - Confirm Deletion*@
    <div class="modal fade" id="@("deleteModal"+supplier.UID)" tabindex="-1" role="dialog" aria-labelledby="@("title"+supplier.UID)" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="@("title"+supplier.UID)">Delete</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">Delete @supplier.Name?</div>
                <div class="modal-footer">
                    <a class="btn btn-lg" role="button" asp-page-handler="deleteSupplier" asp-page="SupplierManagement" asp-route-UID="@supplier.UID">Delete</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}