@page
@using FutureFridges.Business.Enums;
@model FutureFridges.Pages.UserManagement.CreateEditUserModel
@{
}

<form method="post" novalidate>
    <div>
        <label asp-for="@Model.ManagedUser.UserName"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="@Model.ManagedUser.UserName">
        </div>
    </div>
    <div>
        <label asp-for="@Model.ManagedUser.Email"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="@Model.ManagedUser.Email">
        </div>
    </div>
    <div>
        <label asp-for="@Model.ManagedUser.UserType"></label>
        <div class="col-sm-10">
            <select asp-for="@Model.ManagedUser.UserType" asp-items="Html.GetEnumSelectList<UserType>()">
                <option selected="selected" value="">Please select</option>
            </select>
        </div>
    </div>
    <br>
    
    @if (@Model.Id != null && new Guid(@Model.Id) != Guid.Empty)
    {
        <div>
            <label asp-for="@Model.ManagedUserPermissions.ViewStock"></label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-check-input" asp-for="@Model.ManagedUserPermissions.ViewStock">
            </div>
            <label asp-for="@Model.ManagedUserPermissions.AddStock"></label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-check-input" asp-for="@Model.ManagedUserPermissions.AddStock">
            </div>
            <label asp-for="@Model.ManagedUserPermissions.RemoveStock"></label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-check-input" asp-for="@Model.ManagedUserPermissions.RemoveStock">
            </div>
            <label asp-for="@Model.ManagedUserPermissions.ManageProduct"></label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-check-input" asp-for="@Model.ManagedUserPermissions.ManageProduct">
            </div>
            <label asp-for="@Model.ManagedUserPermissions.ManageHealthAndSafetyReport"></label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-check-input" asp-for="@Model.ManagedUserPermissions.ManageHealthAndSafetyReport">
            </div>
            <label asp-for="@Model.ManagedUserPermissions.ManageUser"></label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-check-input" asp-for="@Model.ManagedUserPermissions.ManageUser">
            </div>
            <label asp-for="@Model.ManagedUserPermissions.CreateOrder"></label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-check-input" asp-for="@Model.ManagedUserPermissions.CreateOrder">
            </div>
        </div>
    }
    <input type="hidden" asp-for="@Model.ManagedUser.Id" />
    <input type="hidden" asp-for="@Model.ManagedUserPermissions.User_UID" />

    @if (@Model.Id != null && new Guid(@Model.Id) != Guid.Empty)
    {
            <input type="submit" value="Update User">
    }
    else
    {
            <input type="submit" value="Create User">
    }

    @*REPLACE THE SUBMIT/CREATE WITH A SAVE ICON GLYPH TO MAKE IT LOOK BETTER*@
</form>