@page
@using FutureFridges.Business.Enums;
@model FutureFridges.Pages.UserManagement.CreateEditUserModel
@{
    if (@Model.Id != null && new Guid(@Model.Id) != Guid.Empty)
    {
        ViewData["Title"] = "Update User";
    }
    else
    {
        ViewData["Title"] = "Create User";
    } 
}

<style>
    input[type="submit"] {
		display: none;
	}

	.custom-edit-create {
		border: 1px solid #ccc;
		display: inline-block;
		padding: 6px 12px;
		cursor: pointer;
		background-color: darkorange;
	}
</style>

<div class="container-sm col-sm-8 bg-light rounded-3 border p-5 shadow-lg">
    <a asp-page="UserManagement" class="btn btn-secondary">&laquo; back</a>
    <form method="post" novalidate>
        <div>
            <label asp-for="@Model.ManagedUser.UserName">Username</label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="@Model.ManagedUser.UserName">
            </div>
            <span class="text-danger" asp-validation-for="@Model.ManagedUser.UserName"></span>
        </div>
        <div>
            <label asp-for="@Model.ManagedUser.Email"></label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="@Model.ManagedUser.Email">
            </div>
            <span class="text-danger" asp-validation-for="@Model.ManagedUser.Email"></span>
        </div>
        <div>
            <label asp-for="@Model.ManagedUser.UserType">User Type</label>
            <div class="col-sm-10">
                <select class="form-select" asp-for="@Model.ManagedUser.UserType" asp-items="@Model.UserTypeSelection">User Type</select>
            </div>
            <span class="text-danger" asp-validation-for="@Model.ManagedUser.UserType"></span>
        </div>
        <br>
    
        @if (@Model.Id != null && new Guid(@Model.Id) != Guid.Empty)
        {
            <h5>Permissions:</h5>
            <div>
                <div class="row">
                    <div class="col-sm-4">
                        <label asp-for="@Model.ManagedUserPermissions.ViewStock">View Stock</label>
                        <div class="col-sm-10">
                            <input id="viewStockCheckbox" type="checkbox" class="form-check-input" asp-for="@Model.ManagedUserPermissions.ViewStock">
                        </div>
                        <div>
                            <label asp-for="@Model.ManagedUserPermissions.AddStock">Add Stock</label>
                            <div class="col-sm-10">
                                <input id="addStockCheckbox" type="checkbox" class="form-check-input" asp-for="@Model.ManagedUserPermissions.AddStock">
                            </div>
                            <label asp-for="@Model.ManagedUserPermissions.RemoveStock">Remove Stock</label>
                            <div class="col-sm-10">
                                <input id="removeStockCheckbox" type="checkbox" class="form-check-input" asp-for="@Model.ManagedUserPermissions.RemoveStock">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label asp-for="@Model.ManagedUserPermissions.ManageProduct">Manage Products</label>
                        <div class="col-sm-10">
                            <input type="checkbox" class="form-check-input" asp-for="@Model.ManagedUserPermissions.ManageProduct">
                        </div>
                        <label asp-for="@Model.ManagedUserPermissions.ManageHealthAndSafetyReport">Manage Health and Safety Report</label>
                        <div class="col-sm-10">
                            <input type="checkbox" class="form-check-input" asp-for="@Model.ManagedUserPermissions.ManageHealthAndSafetyReport">
                        </div>
                        <label asp-for="@Model.ManagedUserPermissions.ManageUser">Manage Users</label>
                        <div class="col-sm-10">
                            <input type="checkbox" class="form-check-input" asp-for="@Model.ManagedUserPermissions.ManageUser">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label asp-for="@Model.ManagedUserPermissions.CreateOrder">Create Orders</label>
                        <div class="col-sm-10">
                            <input type="checkbox" class="form-check-input" asp-for="@Model.ManagedUserPermissions.CreateOrder">
                        </div>
                        <label asp-for="@Model.ManagedUserPermissions.ManageSuppliers">Manage Suppliers</label>
                        <div class="col-sm-10">
                            <input type="checkbox" class="form-check-input" asp-for="@Model.ManagedUserPermissions.ManageSuppliers">
                        </div>
                        <label asp-for="@Model.ManagedUserPermissions.ManageOrders">Manage Orders</label>
                        <div class="col-sm-10">
                            <input type="checkbox" class="form-check-input" asp-for="@Model.ManagedUserPermissions.ManageOrders">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label asp-for="@Model.ManagedUserPermissions.ViewAuditLog">View Audit Log</label>
                        <div class="col-sm-10">
                            <input type="checkbox" class="form-check-input" asp-for="@Model.ManagedUserPermissions.ViewAuditLog">
                        </div>
                    </div>
                </div>
            </div>
        }
        
        <input type="hidden" asp-for="@Model.ManagedUser.Id" />
        <input type="hidden" asp-for="@Model.ManagedUserPermissions.User_UID" />

        @if (@Model.Id != null && new Guid(@Model.Id) != Guid.Empty)
        {
                 <label for="update-user" class="custom-edit-create">
                        <i class="fa fa-cloud-upload"></i> Update User
                 </label>
                 <input id="update-user" type="submit" value="Update User">
        }
        else
        {
                <label for="create-user" class="custom-edit-create">
                    <i class="fa fa-cloud-upload"></i> Create User
                 </label>
                <input id="create-user" type="submit" value="Create User">
        }
    </form>
</div>

@section Scripts {
    <script type="text/javascript" src="~/Pages/UserManagement/CreateEditUser.cshtml.js"></script>
}   