@page
@using FutureFridges.Business.UserManagement;
@model FutureFridges.Pages.UserManagement.UserManagementModel
@{
    ViewData["Title"] = "User Management";
}


<div class="container-sm m-auto bg-light rounded-3 border p-5 shadow-lg">
    <h1 class="text-center display-4">User Management</h1>
    <hr>
    <div class="row justify-content-center">
        @if(Model.Users.Count < 1) {
            <h2 class="text-center display-6">No users setup</h2>
        }
        else{
            <table>
                <thead>
                    <tr>
                        <th>
                            Username
                        </th>
                        <th class="d-none d-md-block">
                            Email
                        </th>
                        <th>
                            Account Type
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (FridgeUser user in @Model.Users)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td class= "d-none d-md-block">@user.Email</td>
                            <td>@user.UserType</td>
                            <td class="text-end">
                                <a class="btn btn-secondary" role="button" asp-page="CreateEditUser" asp-route-ID="@user.Id">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                        </svg>
                                    </span>
                                </a>
                                <button class="btn btn-secondary" type="button" onclick="passwordReset('@user.Id', '@Model.CurrentUserID')">Reset Password</button>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="@("#deleteModal"+@user.Id)">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

    <hr>

    <a class="btn btn-primary btn-lg" role="button" asp-page="CreateEditUser">Create User</a>
</div>

<div class="container-sm m-auto">
    @*Bootstrap Toast - Confirm Reset*@
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute; top: 110px; right: 0;">
        <div class="toast-header">
            <strong class="me-auto">Success</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Password successfully reset.
        </div>
    </div>
</div>

@foreach (FridgeUser user in Model.Users) {
    @*Bootstrap Modal - Confirm Deletion*@
    <div class="modal fade" id="@("deleteModal"+@user.Id)" tabindex="-1" role="dialog" aria-labelledby="@("title"+@user.Id)" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="@("title"+@user.Id)">Delete</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">Delete @(user.UserName)'s account?</div>
                <div class="modal-footer">
                    <a class="btn btn-primary" role="button" asp-page-handler="deleteUser" asp-page="UserManagement" asp-route-id="@user.Id">Delete</a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript" src="~/Pages/UserManagement/UserManagement.cshtml.js"></script>
}               