@page
@using FutureFridges.Business.Enums;
@model FutureFridges.Pages.ProductManagement.CreateEditProductModel
@{
}

<form method="post" enctype="multipart/form-data" novalidate>
    <div>
        <label asp-for="@Model.Product.Name"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="@Model.Product.Name" />
        </div>
    </div>
    <div>
        <label asp-for="@Model.Product.Category"></label>
        <div class="col-sm-10">
            <select asp-for="@Model.Product.Category" asp-items="Html.GetEnumSelectList<ProductCategory>()">
                <option selected="selected" value="">Please select</option>
            </select>
        </div>
    </div>
    <div>
        <label asp-for="@Model.Product.DaysShelfLife"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="@Model.Product.DaysShelfLife" />
        </div>
    </div>
    <input type="hidden" asp-for="@Model.Product.UID" />
    <input type="hidden" asp-for="@Model.Product.ImageName" />
    <input type="file" asp-for="FileUpload" />
    @if (@Model.UID != Guid.Empty)
    {
        <input type="submit" value="Update Product">
    }
    else {
        <input type="submit" value="Create Product">
    }
    @Html.ValidationSummary()
    @*REPLACE THE SUBMIT/CREATE WITH A SAVE ICON GLYPH TO MAKE IT LOOK BETTER*@
</form>
