@page
@using FutureFridges.Business.Enums;
@model FutureFridges.Pages.ProductManagement.CreateEditProductModel
@{
    
    if (@Model.UID != Guid.Empty)
    {
        ViewData["Title"] = "Edit Product";
    }
    else
    {
        ViewData["Title"] = "Create Product";
    }
}


<style>
    input[type="file"] {
        display: none;
    }

    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        background-color: darkorange;
    }

     input[type="submit"] {
        display: none;
    }

    .custom-file-update {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        background-color: darkorange;
    }

</style>


 <div class="container-sm col-sm-8 bg-light rounded-3 border p-5 shadow-lg">
    <a asp-page="ProductManagement" class="btn btn-secondary">
        &laquo; back</a>
    <form method="post" enctype="multipart/form-data" novalidate class="m-auto">
        <div>
            <label asp-for="@Model.Product.Name"></label>
            <div class="col-sm-12">
                <input class="form-control" asp-for="@Model.Product.Name" />
            </div>
            <span class="text-danger" asp-validation-for="@Model.Product.Name"></span>
        </div>
        <div>
            <label asp-for="@Model.Product.Category"></label>
            <div class="col-sm-12">
                <select class="form-select" asp-for="@Model.Product.Category" asp-items="Html.GetEnumSelectList<ProductCategory>()">
                    <option selected="selected" value="">Please select</option>
                </select>
            </div>
            <span class="text-danger" asp-validation-for="@Model.Product.Category"></span>
        </div>
        <div>
            <label asp-for="@Model.Product.Supplier_UID">Supplier</label>
            <div class="col-sm-12">
                @if(Model.UID != Guid.Empty)
                {
                    <select class="form-select" asp-for="@Model.Product.Supplier_UID" asp-items="@Model.SupplierSelection" disabled>Select Supplier</select>
                }
                else
                {
                    <select class="form-select" asp-for="@Model.Product.Supplier_UID" asp-items="@Model.SupplierSelection">Select Supplier</select>
                }
            </div>
            <span class="text-danger" asp-validation-for="@Model.Product.Supplier_UID"></span>
        </div>
        <div>
            <label asp-for="@Model.Product.DaysShelfLife">Shelf Life (Days)</label>
            <div class="col-sm-12">
                <input class="form-control" asp-for="@Model.Product.DaysShelfLife" />
            </div>
            <span class="text-danger" asp-validation-for="@Model.Product.DaysShelfLife"></span>
        </div>
        <div>
            <label asp-for="@Model.Product.MinimumStockLevel">Minimum Stock Level</label>
            <div class="col-sm-12">
                <input class="form-control" asp-for="@Model.Product.MinimumStockLevel" />
            </div>
            <span class="text-danger" asp-validation-for="@Model.Product.MinimumStockLevel"></span>
        </div>
        <div class="text-center">
            <input type="hidden" asp-for="@Model.Product.UID" />
            <input type="hidden" asp-for="@Model.Product.ImageName" />

            <label for="file-upload" class="custom-file-upload">
                <i class="fa fa-cloud-upload"></i> Upload Image
            </label>
            <input id="file-upload" type="file" asp-for="FileUpload" accept=".png,.jpg,.jpeg," />


            @if (@Model.UID != Guid.Empty)
            {
                <label for="update-product" class="custom-file-update">
                    <i class="fa fa-cloud-upload"></i> Update Product
                </label>
                <input id="update-product" type="submit" value="Update Product">
            }
            else {
				<label for="create-product" class="custom-file-update">
                    <i class="fa fa-cloud-upload"></i> Create Product
                </label>
                <input id="create-product" type="submit" value="Create Product">
            }
        </div>
    </form>
</div>
