@page
@using FutureFridges.Business.StockManagement;
@model FutureFridges.Pages.ProductManagementModel;
@{
    ViewData["Title"] = "Product Management";
}
 <div class="container-sm m-auto bg-light rounded-3 border p-5 shadow-lg">
    <h1 class="text-center display-4">Product Management</h1>
    <hr>
    <div class="row justify-content-center">
        <table>
            <thead>
                <tr>
                    <th>
                        Product ID
                    </th>
                    <th Class="d-none d-md-block">
                        Product GUID
                    </th>
                    <th>
                        Product Name
                    </th>
                    <th>
                        Product Category
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Product product in @Model.Products)
                {
                    <tr>
                        <td>@product.Id</td>
                            <td Class="d-none d-md-block">@product.UID</td>
                        <td>@product.Name</td>
                        <td>@product.Category</td>
                        <td>
                            <a class="btn btn-secondary" role="button" asp-page="CreateEditProduct" asp-route-UID="@product.UID">
                                <span aria-hidden="true">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                    </svg>
                                </span>
                            </a>
                            @if (Model.IsProductInUse(product.UID))
                            {
                                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="This product is in use, and can't be deleted!">
                                    <button class="btn btn-secondary" role="button" disabled>Delete</button>
                                </span>
                            }
                            else {
                                <a class="btn btn-secondary" role="button" asp-page-handler="deleteProduct" asp-page="ProductManagement" asp-route-UID="@product.UID">Delete</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <hr>
        <div class="col-md-10 text-center">
        <a class="btn btn-Main btn-primary" role="button"  asp-page="CreateEditProduct">Create Product</a>
        </div>
        
       </div>
</div>