@page
@using FutureFridges.Business.OrderManagement;
@model FutureFridges.Pages.Deliveries.ReviewDeliveryModel
@{
    ViewData["Title"] = "Review Delivery";
}

<div class="col-lg-8 m-auto bg-light rounded-3 border px-5 pb-5 pt-4 shadow-lg mt-4">
    <h2 class="display-3">Review Delivery</h2>
    <h3 class="display-6 text-muted">Order: @Model.Order.PinCode</h3>
    <h3 class="display-6 text-muted">Items: @Model.Order.NumberOfItems</h3>
    <hr>
    <table class="table table-striped table-hover" style="width: 100%;">
        <thead>
            <tr>
                <th>
                    Item
                </th>
                <th>
                    Quantity
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (OrderItem orderItem in Model.Order.OrderItems)
            {
                <tr>
                    <td>@orderItem.ProductName</td>
                    <td>@orderItem.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
    <hr>
    <a class="btn btn-lg btn-primary d-block d-md-inline" asp-page="ReviewDelivery" asp-route-uid="@Model.Order.UID" asp-page-handler="completeDelivery">Complete Delivery</a>
</div>