@page
@using FutureFridges.Business.StockManagement;
@model FutureFridges.Pages.HealthReport.HealthReportModel
@{
    ViewData["Title"] = "Health Report";
}

<div class="container-sm m-auto bg-light rounded-3 border p-5 shadow-lg">
    <div class="row">
        <div class="col-sm">
            <div class="display-4 text-center">Health Report</div>
            <div class="display-6 text-center">@DateTime.Now</div>
            <hr>
            <table class="text-center" style="width: 100%;">
                <thead>
                    <tr>
                        <th>
                            Product ID
                        </th>
                        <th>
                            Product Name
                        </th>
                        <th>
                            Expiry Date
                        </th>
                        <th>
                            Time Past Expiry
                        </th>
                    </tr>
                </thead>
                <tbody>
                        @foreach (StockItem stockItem in Model.StockItems)
                        {
                            //get expiry date from db

                            //if past expiry display with time past expiry
                            TimeSpan ExpiryDiff = DateTime.Now.Subtract(stockItem.ExpiryDate);
                            @if (stockItem.ExpiryDate < DateTime.Now)
                            {
                                Product _Product = Model.Products.Where(product => product.UID == stockItem.Product_UID).First();
                                <tr>
                                    <td>@stockItem.Item_UID</td>
                                    <td>@_Product.Name</td>
                                    <td>@stockItem.ExpiryDate</td>
                                    <td>@ExpiryDiff.Days Day(s) @ExpiryDiff.Hours Hour(s) @ExpiryDiff.Minutes Minute(s)</td>
                                </tr>
                            }
                        }
                </tbody>
            </table>
            <hr>
            <div class="mt-5">
                <h3>Send health report</h3>
                <form class="row" method="post" asp-page-handler="sendReport">
                    <div class="form-group col-lg-3">
                        <input class="form-control" name="safetyOfficerEmail" placeholder="safetyofficer@email.com"/>
                    </div>
                    <div class="form-group col-lg-2">
                    <button class="btn btn-primary w-100" type="submit" name="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





